---
CompileFlags:
  # Treat code as C++, use C++23 standard, enable more warnings.
  Add: [-xc++, -std=c++23, -Wall]
  # Remove extra warnings specified in compile commands.
  # Single value is also acceptable, same as "Remove: [-mabi]"
  Remove: -mabi
Diagnostics:
  # Tweak Clang-Tidy checks.
  ClangTidy:
    Add: [performance*, modernize*, readability*]
    Remove: [modernize-use-trailing-return-type]
    CheckOptions:
      readability-identifier-naming.VariableCase:
      readability-identifier-naming.VariableCase: CamelCase
      readability-identifier-length.IgnoredVariableNames: "a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z|id"
      readability-identifier-length.IgnoredVariableNames: "a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z|id"
      readability-identifier-length.IgnoredParameterNames: "a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z|id"
      readability-identifier-naming.NamespaceCase: lower_case
      readability-identifier-naming.ClassCase: CamelCase
      readability-identifier-naming.Structcase: CamelCase
      readability-identifier-naming.FunctionCase: lower_case
      readability-identifier-naming.VariableCase: lower_case
      readability-identifier-naming.GlobalConstantCase: UPPER_CASE
      readability-identifier-naming.ClassMemberCase: lower_case
      readability-identifier-naming.ClassMethodCase: lower_case
      readability-identifier-naming.EnumConstantCase: CamelCase
      readability-identifier-naming.ParameterCase: lower_case
      readability-identifier-naming.TypedefCase: CamelCase
      readability-identifier-naming.AgressiveDependentMemberLookup: true
      readability-identifier-naming.TypeAliasCase: CamelCase
      readability-identifier-naming.TypeAliasIgnoredRegexp: "u8|u16|u32|u64|i8|i16|i32|i64|c8|c16|c32|c64|f32|f64|f128|isize|usize|str"
    }
