[submodule "Doc"]
	path = Doc
	url = ../planarterrains.dev
[submodule "Plugins/SubsystemBrowserPlugin"]
	path = Plugins/SubsystemBrowserPlugin
	url = https://github.com/aquanox/SubsystemBrowserPlugin
