[submodule "Plugins/SubsystemBrowserPlugin"]
	path = Plugins/SubsystemBrowserPlugin
	url = https://github.com/aquanox/SubsystemBrowserPlugin
[submodule "Plugins/ExtendedGraphicsProgramming"]
	path = Plugins/ExtendedGraphicsProgramming
	url = https://github.com/ezappala/ExtendedGraphicsProgramming
[submodule "Plugins/UE5-GPURuntimeTessellation"]
	path = Plugins/UE5-GPURuntimeTessellation
	url = http://github.com/ezappala/UE5-GPURuntimeTessellation
	branch = submodule
